.task {
  width: 100%;
  padding: 5px;
  margin-bottom: 7px;
  border-radius: 10px;
  background: rgb(228, 56, 56);
}
.task .nameTask {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 5px 0 5px;
}
.task .nameTask .task__buttonOpen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 40px;
  cursor: pointer;
}
.task .nameTask .task__buttonOpen img {
  width: 35px;
  height: 35px;
}
.task .nameTask .task__Name {
  width: 280px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}
.task .nameTask .task__Name span {
  height: 34px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.task .nameTask .task__buttonClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 40px;
  cursor: pointer;
}
.task .nameTask .task__buttonClose img {
  width: 35px;
  height: 35px;
}
.task .descriptionTask {
  width: 100%;
  max-height: 100%;
  display: none;
  padding-right: 4px;
}
.task .descriptionTask .descriptionTask__textItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
}
.task .descriptionTask .descriptionTask__textItems label {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 3px;
  width: 33%;
}
.task .descriptionTask .descriptionTask__textItems .textItems__wrapper {
  width: 67%;
  height: 80px;
  padding: 3px;
  overflow: auto;
}
.task .descriptionTask .descriptionTask__textItems .textItems__wrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}
.task .descriptionTask .descriptionTask__file {
  padding-top: 10px;
}
.task .descriptionTask .descriptionTask__file input {
  width: 100%;
  padding: 3px;
}
.task .descriptionTask .descriptionTask__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}
.task .descriptionTask .descriptionTask__date .date__title {
  width: 33%;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: start;
  padding: 3px;
}
.task .descriptionTask .descriptionTask__date .date__result {
  width: 67%;
  padding: 3px;
}
.task .descriptionTask .descriptionTask__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}
.task .descriptionTask .descriptionTask__status .status__title {
  width: 33%;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: start;
  padding: 3px;
}
.task .descriptionTask .descriptionTask__status .status__result {
  width: 33%;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: start;
  padding: 3px;
}
.task .descriptionTask.active {
  width: 100%;
  max-height: 180px;
  display: block;
  overflow: auto;
}